.container {
    display: flex;
    height: 80px;
    margin: auto;
    align-items: center;
    background: rgb(2, 2, 10);
    filter:drop-shadow(0px .2vh .4vh #000000);
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
    margin-left: 5%;
}

.titleContainer img {
    width: 5%;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 5%;
    margin: 2px;
}

.subContainer {
    display: flex;
    width: 150px;
    margin: 130px;
}

.subContainer li{
    list-style-type: none;
}

.subContainer a {
    margin-right: 15px;
    color: whitesmoke;
    font-size: 1.5em;
    text-decoration: none;
}